$primary-color: #60bc0f;

.cta-area {
	background: $primary-color;
	background-size: cover;
	text-align: center;
	color: #fff;
	z-index: 1;
	&.overlay {
		&:after {
			background: #000;
			opacity: .5;
		}
	}
	h1 {
		font-size: 36px;
		color: #fff;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 40px;
	}
	.primary-btn {
		margin-top: 15px;
	}
}