@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s) {
	transition: $property $duration $animate $delay;
}
@mixin transform($value) {
	transform: $value;
	-webkit-transform: $value;
	-moz-transform: $value;
	-o-transform: $value;
	-ms-transform: $value;
}
$title-color: #222222;
$primary-color: #60bc0f;
$primary-color2: #fdbb00;

.event_area {
	padding-bottom: 70px;
	@media (max-width: 991px) {
		padding-bottom: 10px;
	}
	.single_event {
		margin-bottom: 60px;
		figure {
			overflow: hidden;
			margin: 0;
			position: relative;
			img {
				@include transition();
			}
		}
		.content_wrapper {
			@media (max-width: 1024px) {
				margin-top: 0;
			}
			@media (max-width: 767px) {
				margin-top: 30px;
				text-align: center;
			}
			.title {
				font-size: 20px;
				margin-bottom: 15px;
				@media (max-width: 1024px) {
					margin-bottom: 10px;
				}
				a {
					color: $title-color;
				}
			}
			.count_time {
				@media (max-width: 1199px) and (min-width: 992px) {
					display: none !important;
				}
				@media (max-width: 767px) {
					display: none !important;
				}
				h4 {
					font-size: 20px;
					margin-bottom: 0px;
				}
			}
			.primary_btn {
				line-height: 38px;
			}
		}
		&:hover {
			.title {
				a {
					color: $primary-color;
				}
			}
			img {
				@include transform(scale(1.2));
			}
			.img-overlay {
				background: initial;
			}
			.primary_btn {
				background: $primary-color2;
				border: 1px solid $primary-color2;
				color: $title-color;
			}
		}
	}
}

.event-details-area {
	.condition-right {
		h2 {
			@media (max-width: 991px) {
				margin-top: 40px;
			}
		}
		ul {
			padding-left: 0px;
			margin-top: 30px;
		}
		li {
			list-style: none;
			margin-bottom: 5px;
			&::before {
				font: normal normal normal 14px/1 FontAwesome;
				margin-right: 20px;
			}
			&:nth-child(1) {
				&::before {
					content: "\f073";
				}
			}
			&:nth-child(2) {
				&::before {
					content: "\f015";
				}
			}
			&:nth-child(3) {
				&::before {
					content: "\f124";
				}
			}
		}
	}
}